@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
/*要素のフォントサイズやマージン・パディングをリセットしています*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/*行の高さをフォントサイズと同じにしています*/
body {
  line-height: 1;
}

/*新規追加要素のデフォルトはすべてインライン要素になっているので、section要素などをブロック要素へ変更しています*/
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/*nav要素内ulのマーカー（行頭記号）を表示しないようにしています*/
nav ul {
  list-style: none;
}

/*引用符の表示が出ないようにしています*/
blockquote, q {
  quotes: none;
}

/*blockquote要素、q要素の前後にコンテンツを追加しないように指定しています*/
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/*a要素のフォントサイズなどをリセットしフォントの縦方向の揃え位置を親要素のベースラインに揃えるようにしています*/
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
}

/* ins要素のデフォルトをセットし、色を変える場合はここで変更できるようにしています */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* mark要素のデフォルトをセットし、色やフォントスタイルを変える場合はここで変更できるようにしています
また、mark要素とは、文書内の検索結果で該当するフレーズをハイライトして、目立たせる際に使用するようです。*/
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/*テキストに打ち消し線が付くようにしています*/
del {
  text-decoration: line-through;
}

/*IEではデフォルトで点線を下線表示する設定ではないので、下線がつくようにしています
また、マウスオーバー時にヘルプカーソルの表示が出るようにしています*/
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/*隣接するセルのボーダーを重ねて表示し、間隔を0に指定しています*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*水平罫線のデフォルトである立体的な罫線を見えなくしています*/
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/*縦方向の揃え位置を中央揃えに指定しています*/
input, select {
  vertical-align: middle;
}

/* ulの黒丸を消す */
ul {
  list-style: none;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  font-size: 14px;
  color: #eee;
  line-height: 1.6;
  letter-spacing: 0.025em;
}

img {
  width: 100%;
  max-width: 100%;
}

.main {
  position: relative;
}
.main #header {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 50%;
  z-index: 999;
}
.main #header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main #header ul li {
  width: 20%;
}
.main #header ul li:last-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main #header ul li:last-child a {
  width: 30%;
}
.main #header ul li:last-child a img {
  width: auto;
}
.main #header ul li a {
  color: #eee;
}
.main #nav {
  position: fixed;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 999;
}
.main #nav div {
  width: 12px;
  height: 12px;
  margin-bottom: 20px;
  background-color: #eee;
  border-radius: 50%;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  cursor: pointer;
}
.main #nav div a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.main #nav div:last-child {
  margin-bottom: 0;
}
.main #nav div:hover {
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: #0092ca;
}
.main #nav div.on {
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  background-color: #0092ca;
}
.main .wrapper section {
  padding: 200px 0;
}
.main .wrapper section h2 {
  text-align: center;
  font-size: 61px;
  color: #eee;
  margin-bottom: 100px;
  letter-spacing: 0.1em;
}
.main .wrapper section h2 span {
  display: inline-block;
  border-bottom: 7px solid rgba(0, 146, 202, 0.6);
  line-height: 1.4;
  -webkit-clip-path: inset(0 100% 100% 0);
  clip-path: inset(0 100% 100% 0);
  -webkit-transition: all 1.6s ease;
  transition: all 1.6s ease;
}
.main .wrapper section .slide_text {
  -webkit-clip-path: inset(0 100% 0 0);
  clip-path: inset(0 100% 0 0);
  -webkit-transition: all 5s ease;
  transition: all 5s ease;
}
.main .wrapper section.active h2 span {
  webkit-clip-path: inset(0);
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
.main .wrapper section.active .slide_text {
  webkit-clip-path: inset(0);
  -webkit-clip-path: inset(0);
          clip-path: inset(0);
}
.main .wrapper #top {
  position: relative;
  background-color: #000;
  padding: 0;
}
.main .wrapper #top .hero {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.main .wrapper #top .hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 90px;
  color: #fff;
  opacity: 0.7;
  text-align: center;
  z-index: 3;
}
.main .wrapper #top .hero div:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
.main .wrapper #top .hero div img {
  max-width: inherit;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 1;
}
.main .wrapper #art {
  background: #393e46;
}
.main .wrapper #art ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
}
.main .wrapper #art ul li {
  width: 32%;
  position: relative;
  margin-right: 2%;
  margin-bottom: 2%;
  cursor: pointer;
  opacity: 1;
  display: none;
  -webkit-transform: translateY(20%);
          transform: translateY(20%);
}
.main .wrapper #art ul li:nth-child(3n) {
  margin-right: 0;
}
.main .wrapper #art ul li figure {
  font-size: 0;
  height: 170px;
  width: 100%;
  overflow: hidden;
  -webkit-filter: grayscale(70%);
          filter: grayscale(70%);
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.main .wrapper #art ul li figure img {
  width: 100%;
  height: 170px;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main .wrapper #art ul li:hover figure {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.main .wrapper #art .more {
  position: relative;
}
.main .wrapper #art .more div {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.main .wrapper #art .more div .btn {
  display: inline-block;
  background-color: #000;
  border-radius: 10px;
  padding: 8px 50px;
  cursor: pointer;
  letter-spacing: 0.1em;
}
.main .wrapper #art .more .detail {
  display: none;
}
.main .wrapper #about {
  background-color: #222831;
}
.main .wrapper #about .lead {
  text-align: center;
  line-height: 1.8;
}
.main .wrapper #about .detail figure {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  margin-bottom: 2rem;
}
.main .wrapper #about .detail figure img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}
.main .wrapper #works {
  background-color: #000;
}
.main .wrapper #works ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 90%;
  margin: 0 auto;
}
.main .wrapper #works ul li {
  width: 32%;
  position: relative;
  margin-right: 2%;
  margin-bottom: 2%;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
  cursor: pointer;
  opacity: 1;
}
.main .wrapper #works ul li:nth-child(3n) {
  margin-right: 0;
}
.main .wrapper #works ul li figure {
  font-size: 0;
  width: 100%;
  height: 300px;
  background-color: #fff;
}
.main .wrapper #works ul li:hover {
  opacity: 0.7;
  -webkit-transition: all .24s ease;
  transition: all .24s ease;
}
.main .wrapper #contact {
  background-color: #222831;
}
.main .wrapper #contact dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 330px;
  margin: 0 auto;
}
.main .wrapper #contact dl dt {
  width: 30%;
}
.main .wrapper #contact dl dd {
  width: 70%;
}
.main #footer {
  background-color: #222831;
  text-align: center;
  padding: 20px 0;
}
